<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NotifySound" value="notify.wav" />
    <add key="SentSound" value="sent.wav" />
    <add key="AutostartPauseSeconds" value="5" />
    <add key="Mozilla.Autoconfig.IspDbTemplate" value="https://autoconfig.thunderbird.net/autoconfig/v1.1/{0}"/>
  </appSettings>
</configuration>